<div class="container">
    <div class="header">
         <h2>Who to follow</h2><span class="refresh">Refresh</span>
    </div>
    <ul class="suggestions">
        <li class="suggestion1">
            <img />
            <a href="#" target="_blank" class="username">this will not be displayed</a>
            <span class="close close1">x</span>
        </li>
        <li class="suggestion2">
            <img />
            <a href="#" target="_blank" class="username">neither this</a>
            <span class="close close2">x</span>
        </li>
        <li class="suggestion3">
            <img />
            <a href="#" target="_blank" class="username">nor this</a>
            <span class="close close3">x</span>
        </li>
    </ul>
</div>
